.inputLink{
    height: 40px;
    width: 260px;
    margin: 5px;
    padding: 8px;
  
    background-color: rgb(202, 202, 202);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.699);
  }
  