section{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  height: 500px;
  width: 450px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 40px;

  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.753);
  background-color: white;
}

section h1{
  margin: -20px 20px 20px 20px;
  font-size: 30px;
}

.inputLink{
  height: 35px;
  width: 240px;
  margin: 20px;
  padding: 8px;

  background-color: rgb(202, 202, 202);
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.699);
}
